# Build outputs
dist/
build/
coverage/
.angular/

# Dependencies
node_modules/

# Lock files
package-lock.json
yarn.lock

# Generated / third-party
public/
e2e/

# Generated docs
documentation/

# Files not to format
*.min.js
*.min.css
